 <div class="side-bar">
    <div class="nav-item nav-item-create" (click)="setActiveComponent('create')">
        <img src="../../../assets/images/plus.png" class="nav-item-img">
        <p class="nav-item-title">Create</p>
    </div>
    <div class="nav-item nav-item-list" (click)="setActiveComponent('list')">
        <img src="../../../assets/images/square.png" class="nav-item-img">
        <p class="nav-item-title">List </p>
    </div>
    <div class="nav-item nav-item-export" (click)="setActiveComponent('export')">
        <img src="../../../assets/images/upload.png" class="nav-item-img">
        <p class="nav-item-title">Export </p>
    </div>
</div>
